
.head1st{
    background-image: url(images/hero-bg.jpg);
    height: 100%;
    width: 100%;
    display: flex;
    
}
.buttons{
    display: flex;
    padding: 20px;
    padding-left: 500px;
    margin-top: -50px;
   
}
.subhead{
    margin-left: 20px;
    margin-top: 40px;
    display: flex;
    

}
.subhead1st{
    color: white;
    font-size: 25px;
    text-decoration: none;
    
}
.button{
    width: 120px; 
    height: 30px;
    background-color: transparent;
    color: white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    cursor: pointer;
}
.button1{
    width:140px ;
    height: 30px;
    background-color: transparent;
    color: white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    cursor: pointer;
}
.img1{
    height: 20px;
    
    background-color: transparent;
   
}
.img2{
    height: 20px;
    background-color: transparent;
}
.icon1{
    display: flex;
    gap: 30px; ;
    margin-top: -45px;
    padding-left: 1150px;
    
}
.mainhead{
    color: white;
    text-align: center;
    padding-left: 100px;
    padding-top: 100px;
    
}
.sub1{
    font-size: 30px;
    font-weight: lighter;
}
.sub2{
    font-size: 60px;
    font-weight: lighter;
}
.sub3{
    font-size:20px ;
    font-weight: lighter;
}
.buttons2{
padding-left: 550px;


}
.button21{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 50px;
    width: 200px;
    cursor: pointer;
   
}
.dots{
    padding-left: 550px;
    margin-top: 40px;
}
.dot1{
    cursor: pointer;
}
.subhead2{
    margin-left: 550px;
    margin-top: 70px;
}
.subhead21{
    font-size: 30px;  
}
.writing2{
    padding-left: 190px;
}
.writing21{
    font-size: 19px;
    font-weight: lighter;
}
.mainimage{
    margin-top: 100px;
    gap: 50px;
    padding-left: 300px;
    display: flex;
    
}
.image1{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
}
.image2{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black
}
.image3{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black
}
.image4{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black
}
.image5{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black
} 
.underimg{
    display: flex;
    gap: 90px;
    padding-left: 300px;
}
.imgwrte1{
    padding-bottom: 100px;
    font-size: 18px;
}
.imgwrte2{
    padding-bottom: 100px;
    font-size: 18px;
}
.imgwrte3{
    padding-bottom: 100px;
    font-size: 18px;
    
}
.imgwrte4{
    padding-bottom: 100px;
    font-size: 18px;
}.imgwrte5{
    padding-bottom: 100px;
    font-size: 18px;
}
.image1:hover{
    background-color: orange;
    cursor: pointer;
}
.image2:hover{
    background-color: orange;
    cursor: pointer;
}
.image3:hover{
    background-color: orange;
    cursor: pointer;
}
.image4:hover{
    background-color: orange;
    cursor: pointer;
}
.image5:hover{
    background-color: orange;
    cursor: pointer;
}
.page2{
    display: flex;
}

.image6{
    padding-left: 80px;
    
   
}
.page3{
    padding-left: 70px;
    padding-top: 90px;
}
.text1{
    
    font-size: 30px;
    font-weight: bolder;
}
.text2{
    font-weight: lighter;
    font-size: 18px;
   
    
}

.button31{
    height: 45px;
    width: 150px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 20px;
    background: black;
    color: white;
}
.button31:hover{
    background-color: white;
    color: black;
}
.head3rd{
    padding-left: 50px;
    padding-top: 30px;
}
.subhd1{
    font-weight: bolder;
}
.subhead32{
    font-size: 22px;
    padding-left: 50px;
}
.img7{
   /* padding-top: 40px;*/
   display: flex;
   justify-content: center;
}
.image7{
    height: 650px;
  /*  padding-left: 35px;*/
}
.head4{
    padding-left: 450px;
    padding-top: 70px;
}
.subhead41{
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif ;
}
.boxes{
    display: flex;
    padding-top: 60px;
    
}
.box1{
   text-align: center;
   
}
.box2{
    text-align: center;
    border: 1px solid black;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border: none;
    height: 320px;
    width: 500px;
}
.box3{
    text-align: center;
}
.subhd41{
    font-size: 20px;
}
.subhd42{
    font-size: 20px;
}
.subhd43{
    font-size: 20px;
}
.subhd411{
    color: rgb(243, 203, 94);
    font-size: 18px;
    margin-top: -30px;
}
.subhd421{
    color: rgb(243, 203, 94);
    font-size: 18px;
    margin-top: -30px;
}
.subhd431{
    color: rgb(243, 203, 94);
    font-size: 18px;
    margin-top: -30px;
}
.img11{
    height: 15px;
    margin-top: 20px;
    
}
.img12{
    height: 15px;
    margin-top: 20px;
}
.img13{
    height: 15px;
    margin-top: 20px;
}
.subhd4111{
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
}
.subhd4212{
    font-size: 18px;
    text-align: center;
}
.subhd4313{
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
}
.buttonscir{
    
    /* justify-content: center; */
    text-align: center;
    padding-top: 30px;
}
.buttons12{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.buttons21{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.page5{
    display: flex;
    gap: 90px;
    justify-content: center;
    background-image: url(images/target-bg.jpg);
    margin-top: 50px; 
    height: 250px;
}
.bkimg1{
    
    color: white;
   text-align: center;
   font-size: 25px;
   padding-top: 40px;
   font-weight: bolder;
}
.bkimg2{
    color: white;
   text-align: center;
   font-size: 25px;
   padding-top: 40px;
   font-weight: bolder;

}
.bkimg3{
    color: white;
    text-align: center;
    font-size: 25px;
    padding-top: 40px;
    font-weight: bolder;
}
.bkimg4{
    color: white;
   text-align: center;
   font-size: 25px;
   padding-top: 40px;
   font-weight: bolder;
}
.head7{
    padding-top: 40px;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    
}
.formi{
    text-align: center;
}

.form1{
    height: 40px;
    color: gray;
    font-size: 15px;
 width: 900px;   
 margin-top: 30px;
 border-radius: 30px;
 border-width: 1px;
 border-color: gray;
 
 
}
.form2{
    height: 40px;
    color: gray;
    font-size: 15px;
  margin-top: 30px;
 width: 900px;   
 margin-top: 30px;
 border-radius: 30px;
 border-width: 1px;
 border-color: gray;
 
}
.form3{
    height: 40px;
    color: gray;
    font-size: 15px;
margin-top: 30px;  
 width: 900px;   
 margin-top: 30px;
 border-radius: 30px;
 border-width: 1px;
 border-color: gray;
}
.form4{
    height: 150px;
    color: gray;
    font-size: 15px;
width: 900px;   
 margin-top: 30px;
 border-radius: 30px;
 border-width: 1px;
 border-color: gray;
}
.buttonsen{
    text-align: center;

}
.butsen{
    background-color: rgb(236, 165, 52);
    height: 50px;
   margin-top: 50px;
   width: 150px;
   border-radius: 30px;
   color: white;
   border: none;
}
.image14{
    padding-top: 50px;
    display: flex;
    justify-content: center;
  
}
.imagi14{
   justify-content: center;
}
.last{
    background-color: rgb(0, 0, 0);
    margin-top: 50px;
   /* display: flex;*/
}
.lasthd{
    color: white;
    display: flex;
    gap: 200px;
    padding-top: 50px;
    font-weight: lighter;
    justify-content: center;
}
.last2{
    background-color: rgb(0, 0, 0);
    display: flex;

}
.imgwrit{
    color: white;
    font-size: 20px;
}
.imgi{
    width: 13px;
    padding-left: 100px;
}
.last2write{
    display: flex;
    color: white;
   padding-left: 400px;
   padding-right: 600px;
   margin-top: -160px;

}
.instimg{
    padding-left: 730px;
    margin-top: -100px;
    cursor: pointer;
}
.formo{
    padding-left: 1000px;
    margin-top: -150px;
}
.lstbutn{
    width: 130px;
    height: 35px;
    background-color: rgb(241, 166, 28);
    color: white;
    border: none;
   margin-top: 20px;

}
.maili{
    width: 200px;
    height: 35px;

}
.logo{
    padding-top: 30px;
    
}
.lstimgi{
    gap: 30px;
    cursor: pointer;

}
.lstline{
    background-color: rgb(0, 0, 0);
    
   align-items: center;
}
